@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

html, body, .chart {
  height: 300px;
  width: 100%;
}

body {
  margin: 10px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: .9em;
  font-weight: 400;
  position: relative;
}

header {
  margin-bottom: 1em;
}

header > div {
  display: inline-block;
  margin-right: .5em;
  margin-top: 5px;
  padding: .3em .5em .3em 0;
  border-radius: 5px;
}

header .box {
  display: inline-block;
  vertical-align: -.1em;
  margin-right: .3em;
  width: 1em;
  height: 1em;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
}

header .box.andere {
  background: #889;
}

footer {
  color: #889;
  margin-left: 5px;
}

footer a {
  color: #007bc2;
}

.chart {
  position: relative;
  display: block;
}

.axis line, .axis path {
  shape-rendering: crispEdges;
  stroke: black;
  fill: none;
}

.axis .domain {
  display: none;
}

.policy {
  font-weight: 700;
}

.axis .tick text {
  fill: #889;
}

.axis .tick line {
  stroke: #889;
}

circle {
  stroke-width: 2px;
  fill-opacity: 0.2;
  cursor: pointer;
}

.cdu {
  fill: #121212;
  stroke: #121212;
  background-color: rgba(18, 18, 18, .2);
  border-color: #121212;
}

.spd {
  fill: #d71f1d;
  stroke: #d71f1d;
  background-color: rgba(215, 31, 29, .2);
  border-color: #d71f1d;
}

.grüne {
  fill: #0a8000;
  stroke: #0a8000;
  background-color: rgba(10, 128, 0, .2);
  border-color: #0a8000;
}

.fdp {
  fill: #ffdd00;
  stroke: #ffdd00;
  background-color: rgba(255, 221, 0, .2);
  border-color: #ffdd00;
}

.linke {
  fill: #be3075;
  stroke: #be3075;
  background-color: rgba(190, 48, 117, .2);
  border-color: #be3075;
}

.afd {
  fill: #129ee6;
  stroke: #129ee6;
  background-color: rgba(18, 158, 230, .2);
  border-color: #129ee6;
}

.npd {
  fill: #926239;
  stroke: #926239;
  background-color: rgba(146, 98, 57, .2);
  border-color: #926239;
}

.piraten {
  fill: #ff8800;
  stroke: #ff8800;
  background-color: rgba(255, 136, 0, .2);
  border-color: #ff8800;
}

@media all and (max-width: 450px) {

    .tick:nth-child(odd) {
      display: none;
    }
}


